#root{
    margin: 0 auto;
}
.block{
    background-color: black;
    color:  white;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    text-align: center;
    width:800px;
}
.card{
    background-color: var(--51386d66);
    border: 1px solid var(--1d9c24b0);
   margin: 5px;
   padding: 20px;
}
.block_input{
    display: inline-flex;
    flex-direction: column;
    width: 80%;
    text-size-adjust: 100%;
    line-height: 2;
    box-sizing: border-box ;
}
